/*-------------------------------------------------------*\

    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/
/*	Grid
--------------------------------------------------------*/
/*	Colors
--------------------------------------------------------*/
/*-------------------------------------------------------*\
    Functions
/*-------------------------------------------------------*/
/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/
/*	Column width
-------------------------------------------------------*/
/*	Column push
-------------------------------------------------------*/
/*	Clearfix
-------------------------------------------------------*/
/*	Breakpoints
-------------------------------------------------------*/
/*	Container
-------------------------------------------------------*/
/*-------------------------------------------------------*\
    Helper classes
/*-------------------------------------------------------*/
.u-center {
  text-align: center; }

/*-------------------------------------------------------*\
    Normalise
/*-------------------------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
  opacity: 0.3; }
  button[disabled]:hover, html input[disabled]:hover {
    background-color: transparent;
    color: inherit; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #fff;
  color: #0b4069;
  font-size: 14px; }
  @media (min-width: 640px) {
    body {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 19px; } }

img {
  max-width: 100%;
  vertical-align: middle; }

/*-------------------------------------------------------*\
    Grid
/*-------------------------------------------------------*/
/*-------------------------------------------------------*\
    Buttons
/*-------------------------------------------------------*/
.primary-button {
  display: inline-block;
  padding: 8px 40px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.primary-button:hover, .primary-button:focus {
  outline: 0;
  text-decoration: none; }

.primary-button {
  color: #222;
  border: 2px solid #222; }
  .primary-button:hover, .primary-button:focus {
    color: #fff;
    background: #222; }

/*-------------------------------------------------------*\
    Forms
/*-------------------------------------------------------*/
input, textarea, select {
  margin-bottom: 1.5rem; }

figure, form {
  margin-bottom: 2.5rem; }

input[type="email"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  padding: 9px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="email"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #5ad3c0;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0;
  margin-bottom: 1.5rem; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.5em; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/
a {
  color: #5ad3c0;
  cursor: pointer;
  text-decoration: none;
  outline: 0; }
  a:hover {
    color: #ff9c08;
    text-decoration: underline; }
  a:active {
    color: #35c5ad; }
  a:focus {
    color: #35c5ad; }
  a:focus {
    outline: 2px solid #5ad3c0; }

/*-------------------------------------------------------*\
    Lists
/*-------------------------------------------------------*/
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem; }

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/*-------------------------------------------------------*\
    Tables
/*-------------------------------------------------------*/
table {
  margin-bottom: 2.5rem; }

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child {
  padding-left: 0; }

th:last-child, td:last-child {
  padding-right: 0; }

/*---------*\
    Site
/*---------*/
h1 {
  font-size: 44px;
  line-height: 1.3;
  font-weight: 200;
  margin: 20px 0; }

.header {
  background-color: #5ad3c0; }
  @media (min-width: 640px) {
    .header {
      height: 500px; } }
  .header .header-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
    padding-top: 60px; }
    .header .header-content:before, .header .header-content:after {
      content: "";
      display: table; }
    .header .header-content:after {
      clear: both; }
  .header .header-title {
    color: #ffffff; }
    @media (min-width: 640px) {
      .header .header-title {
        padding-top: 40px;
        float: left;
        width: 49%;
        margin-right: 2%; }
        .header .header-title h1 {
          padding-right: 30px; } }
  @media (min-width: 640px) {
    .header .header-image {
      width: 475px;
      float: left;
      width: 49%;
      margin-right: 0; } }

.explainer {
  padding-bottom: 60px; }
  .explainer .explainer-content {
    font-size: 22px; }
    .explainer .explainer-content .explainer {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 1em;
      margin: 40px auto; }
      .explainer .explainer-content .explainer:before, .explainer .explainer-content .explainer:after {
        content: "";
        display: table; }
      .explainer .explainer-content .explainer:after {
        clear: both; }
    @media (min-width: 640px) {
      .explainer .explainer-content .one img {
        width: 190px;
        float: left;
        width: 15%;
        margin-right: 2%; }
      .explainer .explainer-content .one p {
        float: left;
        width: 32%;
        margin-right: 0; } }
    @media (min-width: 640px) {
      .explainer .explainer-content .two img {
        width: 190px;
        float: left;
        width: 15%;
        margin-right: 2%;
        margin-left: 25.5%; }
      .explainer .explainer-content .two p {
        float: left;
        width: 32%;
        margin-right: 0; } }
    @media (min-width: 640px) {
      .explainer .explainer-content .three img {
        width: 190px;
        float: left;
        width: 15%;
        margin-right: 2%;
        margin-left: 51%; }
      .explainer .explainer-content .three p {
        float: left;
        width: 32%;
        margin-right: 0; } }

.download {
  color: #ffffff;
  background-color: #9784db;
  text-align: center; }
  .download .download-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
    padding-top: 50px;
    padding-bottom: 70px; }
    .download .download-content:before, .download .download-content:after {
      content: "";
      display: table; }
    .download .download-content:after {
      clear: both; }
    .download .download-content h1 {
      margin-top: 10px;
      margin-bottom: 30px; }

footer {
  font-size: 0.75em;
  text-align: center;
  background-color: #E9F0F5; }
  footer .footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
    padding: 75px 0; }
    footer .footer-content:before, footer .footer-content:after {
      content: "";
      display: table; }
    footer .footer-content:after {
      clear: both; }
  footer span {
    margin: 0 20px; }
