/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

/*	Grid
--------------------------------------------------------*/

$columns: 12;
$column-width: 65px;
$gutter-width: 20px;

// Basic or Advanced usage
$advanced-usage: true;


/*	Colors
--------------------------------------------------------*/

$primary-color: #5ad3c0;
$secondary-color: #9784db;
$text-color-dark: #0b4069;
$white-color: #ffffff;

