/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/

html { 

    font-size: 1em;

} 

body {
    line-height: 1.5;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: $text-color-dark;
    font-size: 14px;

    @include break-at(640px) {

        font-size: 16px;

    }

    @include break-at(1200px) {

        font-size: 16px

    }

}
img {

    max-width: 100%;
    vertical-align: middle;

}
